.container{
    place-self: center;
    width: max(50%, 300px);
    border: 1px solid var(--theme-color);
    border-radius: 2%;
    padding: 5%;
}


.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    margin-bottom: 50px;
    color:#6d6d6d;
    font-size: 16px;
}
.add form{
    gap:20px;
}

.add-img-upload{
    width: 120px;
    cursor: pointer;
}


.add-category{
    min-width: 125px;
}

.add-product-name input,
.add-price input,
.add-category select,
.add-product-description textarea{
    padding: 10px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}


.add-product-description textarea{
    resize: none;
}

.add-category-price{
    display: flex;
    gap: 50px;
}


.add-price input{
    width: 100%;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 420px) {
    
    .add{
        width: 90%;
        margin-left:0;
    }
}